<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Prona"
        tools:targetApi="31">
        <activity
            android:name=".Dozvole"
            android:exported="false" />
        <activity
            android:name=".Informacije"
            android:exported="false" />
        <activity
            android:name=".ONama"
            android:exported="false" />
        <activity
            android:name=".infromacije"
            android:exported="false"
            android:label="@string/title_activity_infromacije"
            android:theme="@style/Theme.Prona.NoActionBar" />
        <activity
            android:name=".Podesavanja"
            android:exported="false" />
        <activity
            android:name=".gmail"
            android:exported="false" />
        <activity
            android:name=".facebook"
            android:exported="false" />
        <activity
            android:name=".Uvod"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>